<div class="question-form" *ngIf="(question$ | async) as question">
  <form class="form" [formGroup]="questionForm" (ngSubmit)="create()">
    <div class="form__body">
      <div class="form__title">
        <label>Title:
          <input class="input" type="text" formControlName="title" placeholder="Enter title">
        </label>
      </div>
      <div class="form__type">
        <span>Type:</span>
        <label *ngFor="let type of QUESTION_TYPES">
          <input type="radio" formControlName="type" [value]="type.type">
          {{type.text}}
        </label>
      </div>

      <div class="form__fields" formGroupName="fields">
        <div class="form__fields-list">
          <input *ngFor="let field of fields" class="input" type="text" formControlName="field">
        </div>
        <img *ngIf="fields.length < 6" src="assets/images/add-button.svg" class="button add" (click)="newField(question.fields)">
      </div>

    </div>
    <div class="form__actions">
      <button type="submit" class="button">Create</button>
    </div>
  </form>
</div>
<ng-template #loading>
  Loading...
</ng-template>


