<h2 class="title">Answer Question</h2>
<form class="form" [formGroup]="questionForm" (ngSubmit)="answer(question)" *ngIf="question; else loading">
  <div class="form__body">
    <div class="form__title">
      {{question.title | uppercase }}
    </div>

    <div
      class="form__fields-list"
      *ngIf="question.type === 'Single'"
      formGroupName="fieldsSingle"
    >
      <div
        *ngFor="let field of question.fields; let i = index">
        <label>
          <input  type="radio" formControlName="field" [value]="field.text">
          {{field.text}}
        </label>
      </div>
    </div>

    <div class="form__fields-list" *ngIf="question.type === 'Multi'">
      <div
        *ngFor="let field of question.fields; let i = index"
        formArrayName="fields">
        <label>
          <input class="checkbox" type="checkbox" [formControlName]='i' [checked]="field.checked">
            {{field.text}}
        </label>
      </div>
    </div>

    <div class="form__textarea"
         *ngIf="question.type === 'Open'">
        <textarea formControlName="openAnswer">
        </textarea>
    </div>
  </div>
  <div class="form__actions">
    <button type="submit" class="button">Answer</button>
  </div>
</form>
<ng-template #loading>
  Loading...
</ng-template>
