/* You can add global styles to this file, and also import other style files */
*
  padding: 0
  margin: 0
  a
    text-decoration: none
    color: #380303

h1,h2,h3,h4,h5,h5,button
  color: #380303
  font-family: 'Dancing Script', cursive
.title
  text-align: center
  font-size: 2rem
  font-family: 'Dancing Script', cursive
